body{
    height: inherit;
    vertical-align: top;
    padding-left:20px;
}
html{
   height:92.5%;
}
body{
    background-image:url(https://c4.wallpaperflare.com/wallpaper/1021/902/455/rain-drops-glass-window-wallpaper-preview.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    font-family: Segoe UI, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    padding:0;
    margin:0;
    color: #555;
    margin: 0;
}
nav {
    display:flex;
    justify-content: space-between; 
    height: 34px;
    padding: 8px 20px;
    align-content: center;
    align-items: center;
    color:white;
    background:rgba( 64, 144, 172, 0.65) 
    
}

.app-title{
    justify-content: space-around;
    font-family: "Comic Sans", "Comic Sans MS", cursive;
    font-size: 1.3em;
}
.search1{
    width: 120px;
    padding: 4px 0.5em;
    border: none;
    border-radius: 2px;
    outline: none;
    background-color: rgba( 64, 144, 172, 1 );
    font-size: 1.15em;
    line-height: 1.4;
    color: black;
}
.search1:focus{
    background-color:white;
}
.pointer{
    display:inline-block;
    background-color: rgba(64, 144, 172, 1);
    padding:7px 10px 7px 10px;
    margin-right:4px;
    border-radius:2px;
    transition-duration: 0.4s;
}
.pointer:hover{
    background-color: rgb(65, 133, 165);
    cursor: pointer;
    color: rgb(221, 221, 221);
}
header{
    display:flex;
    height:40px;
    align-items: center;
    justify-content: space-between;
    color:white;
    padding: 0 20px;
    background-color: rgba( 128, 128, 128, 0.3 );
}
.show-menu{
    transition-duration: 0.4s;
}
.show-menu:hover{
    color:rgb(221, 221, 221);
    cursor: pointer;
}
.board-container{
    display:flex;
    vertical-align: baseline;
    justify-content: space-between;
    scroll-padding: 0 20px 0 20px;
    flex-wrap: nowrap;
    overflow: auto;
    height:100%;
}
.wrapper{
    flex-basis: 210px;
    border-radius: 4px;
    flex-shrink: 0;
    padding:10px;
    margin:0 0 0 10px;
    -webkit-margin-collapse: collapse;
    background-color: rgba( 240, 240, 240, 0.9 );
    align-self: flex-start;
    
}
.dot:hover{
    cursor:pointer;
    opacity:0.4;
}
.head{
    display:flex;
    justify-content: space-between;
    margin:4px;
    
    font-weight: bold;
}
.dot {
    display: inline-block;
    margin-top:-4px;
}
.element{
    display:flex;
    justify-content: space-between;
    padding:8px 10px;
    border-radius: 4px;
    background-color: white;
    font-size:14px;
    transition-duration: 0.4s;
    margin:10px 0 10px 0;
}    
#pencil{
    display:none;
}
.element:hover{
    background-color: rgb(248, 248, 248);
    cursor: pointer;
    color:rgb(156, 156, 156)
}

.element:hover #pencil{
    display: inline-block;
    color:inherit;
    background-color: transparent;
    padding:0;
    margin:0;
}

textarea{
    width:210px;
    resize:none;
    padding:10px;
    font-size:1em;
    margin:0 0 0px 0;
    border:none; border-radius: 4px;
    outline: none;
}
.add-card{
    margin:10px 0 5px 0 ;
    padding:0;
}
.add-another:hover{
    cursor: pointer;
    opacity: 0.7;
}
.add-button, #cross{
    margin-right:8px;

}
#cross{
    vertical-align: middle;
}
.add-button{
    vertical-align: middle;
    background-color: olive;
    padding:9px;
    font-size:1.2em;
    color:white;
    border-radius:3px;
    border:none;
}
.add-button:hover ,#cross:hover{
    cursor:pointer;
    opacity:0.7;
}
